html,
body {
  /* center the div in the body horizontaly and verticaly  */
 

  width: 100%;
 
  height: 100%;
  /* set the background color of the body */
  
  background-color: rgb(0, 0, 0);
}

canvas {
  /* I dont want the canvas to be visable or to change the layout of the page but I want the audio to play */
  

}

#divContainer {
  display: grid;
  --columns: repeat(101, 1fr);
  /* initial number of columns */
  grid-template-columns: var(--columns);
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
 
  object-position: center;
  grid-gap: .2px;
  place-items: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: fit-content;
  place-items: center;
  align-items: center;
  scale: 1;
  position: absolute;
  gap: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#divContainer div {
  
}

svg {
  width: 100%;
  height: 100%;
}

:root {
  --scaleAnimation: 1;
  
}

@keyframes scale-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(var(--scaleAnimation));
  }

  100% {
    transform: scale(1);
  }
}
#sliderContainer{
  position: absolute; width: 150px; bottom: 0; display: grid; grid-template-columns: repeat(1, 1fr); margin-left: 40px; margin-bottom: 20px; color: #d3d3d3;
}
.Slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #367ebd;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}