html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }

/* html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}  */


  .container {
    display: 
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    /* padding-top: 80%;  */
    height: 80vH;
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    border: none; height: 370px; width: 100%; padding: 5px;
  }
