html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

  .responsive-iframe {
    /* border: none; 
    height: 650px; 
    width: 650px; 
    padding: 5px; */
    /* position: absolute; */
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    width: 1200px;
    height: 650px;
  }

  /* .container {
    position: relative;
    overflow: hidden;
    width: 1000px;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  } */
  